<h1>"It's time to d-d-d-duel"</h1>
<p>A game for two players! Each player chooses rock, paper or scissors then the winner is declared. Rock loses to paper, paper loses to scissors and scissors lose to rock.</p>
<h2>Player1 make your choice</h2>
<p><a href="/rock">Rock</a></p>
<p><a href="/paper">Paper</a></p>
<p><a href="/scissors">Scissors</a></p>
